<!DOCTYPE html>
<html layout:decorator="admin/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
    <h1 layout:fragment="header" class="page-header" th:text="#{admin.categories}"></h1>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{admin.category.list}"></div>
                    <div class="panel-body">
                        <div th:if="${itemCategories.size() == 0}" th:text="#{admin.categories.list.empty}" class="alert alert-info"></div>
                        <table th:if="${itemCategories.size() > 0}" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th th:text="#{admin.name}"></th>
                                    <th th:text="#{admin.position}"></th>
                                    <th th:text="#{admin.is-active}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="category : ${itemCategories}">
                                    <td th:text="${'#' + categoryStat.count}"></td>
                                    <td th:text="${category.name}"></td>
                                    <td th:text="${category.position}"></td>
                                    <td th:text="${category.isActive} ? #{admin.yes} : #{admin.no}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>