<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
    <div th:fragment="sidebar" class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> <span th:text="#{admin.dashboard}">Dashboard</span></a></li>
                <li>
                    <a href="#"><i class="fa fa-list fa-fw"></i> <span th:text="#{admin.items}"></span></a>
                </li>
                <li>
                    <a th:attr="class=${#httpServletRequest.servletPath.contains('/admin/item-category') ? 'active' : ''}" th:href="@{/admin/item-category/index}">
                        <i class="fa fa-list fa-fw"></i> <span th:text="#{admin.categories}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</html>
