<!DOCTYPE html>
<html layout:decorator="admin/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<h1 layout:fragment="header" class="page-header" th:text="#{admin.items}"></h1>
<div layout:fragment="content">
    <div class="row margin-bottom-10">
        <div class="col-lg-12">
            <div class="btn-group pull-right" role="group">
                <a type="button" class="btn btn-default" th:href="@{/admin/item/create}" th:text="#{admin.new}"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" th:text="#{admin.item.list}"></div>
                <div class="panel-body">
                    <div th:if="${items.size() == 0}" th:text="#{admin.items.list.empty}" class="alert alert-info"></div>
                    <table th:if="${items.size() > 0}" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th th:text="#{admin.name}"></th>
                            <th th:text="#{admin.position}"></th>
                            <th th:text="#{admin.is-active}"></th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${'#' + itemStat.count}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.position}"></td>
                            <td th:text="${item.isActive} ? #{admin.yes} : #{admin.no}"></td>
                            <td>
                                <a th:href="@{/admin/item/{id}/update(id = ${item.id})}">
                                    <i class="fa fa-pencil"></i>
                                    <span th:text="#{admin.edit}"></span>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/admin/item/{id}/delete(id = ${item.id})}">
                                    <i class="fa fa-trash-o"></i>
                                    <span th:text="#{admin.delete}"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
